.u-section-1 .u-sheet-1 {
  min-height: 745px;
}

.u-section-1 .u-text-1 {
  margin: 187px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 189px auto 0 710px;
}

.u-section-1 .u-form-1 {
  height: 203px;
  width: 570px;
  margin: -181px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 448px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 336px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 212px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }
}